<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="brokerUrl" value="localhost" />
    <add key="topics" value="sensor/temp;sensor/humidity" />
  </appSettings>
</configuration>